.history
.github
.docker/zsh/history/.zsh_history
.docker/dbdata

# Never commit private keys
*.key
*.pem
*-key.pem
*_key.pem
private_key*
id_rsa*
id_dsa*
id_ecdsa*

*.pyc

__pypackages__
.pytest_cache
.coverage
__coverage
db.sqlite3

envs/.env
envs/.env.test
envs/.env.e2e

docker-compose.override.yaml