DATABASE_DSN=sqlite:///db.sqlite3
DEBUG=true
LANGUAGE_CODE=en-us
SECRET_KEY='django-insecure-=gcla6j431u4pe_y(f7)$^s%&^hkhzp^p%0o1hbnw#5oezz)sj'
APPS='
    django.contrib.admin
    django.contrib.auth
    django.contrib.contenttypes
    django.contrib.sessions
    django.contrib.messages
    django.contrib.staticfiles
    django_extensions
    core.category.infra.django_app
'
MIDDLEWARES=''
TEST_KEEP_DB=true
TEST_USE_MIGRATIONS=false